@page
@model Employee_CRUD.Pages.Employee.EditEmpModel
@{
}

<h2>Edit Employee</h2>

@if (Model.err.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.err</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.empInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.empInfo.name" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Designation</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="desig" value="@Model.empInfo.desig" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.empInfo.phone" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.empInfo.email" />
        </div>
    </div>
  

    @if (Model.str.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.str</strong>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>

    </div>
</form>