@page
@model Employee_CRUD.Pages.Employee.IndexModel
@{
}


<br />
<h2>
    Employee Details
</h2>
<a class='btn btn-primary btn-sm' href='/Employee/AddEmp'>Add</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Phone</th>
            <th>Email</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.desig</td>
                <td>@item.phone</td>
                <td>@item.email</td>
              
                <td>
                    <a class="btn btn-primary btn-sm" href="/Employee/EditEmp?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Employee/DeleteEmp?id=@item.id">Delete</a>
                    <a class="btn btn-primary btn-sm" href="/WorkHour/IndexWork?id=@item.id&name=@item.name">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>